/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";

@mixin box-shadow {
	-webkit-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	-moz-box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
	box-shadow: rgba(0, 0, 0, 0.09) 0 2px 0;
}

$red: #DB6161;

body {
	background-image: url(http://orig05.deviantart.net/4a93/f/2016/114/4/f/_heaven__by_era_7-da03z7r.jpg);
	background-size: cover;                
    background-repeat:   no-repeat;
    background-position: center center; 
    background-attachment: fixed;
}

.main_content {
	padding: 0 0 50px 0;
}

.alert {
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 5px;
	@include box-shadow;
	background: white;
	font-weight: bold;
	color: $red;
}

.navbar {
	margin-bottom: 50px;
	@include box-shadow;
	border: none;
	.navbar-brand {
		text-transform: uppercase;
		letter-spacing: -1px;
		font-weight: bold;
		font-size: 25px;
		a {
			color: #563D7C;
		}
	}
}

.recipe {
	background: #F8F8F8;
	border-style: groove;
	border-color: #E8E8E8;
	border-radius: 5px;
	margin-bottom: 40px;
	@include box-shadow;
	.image_wrapper {
		max-width: 100%;
		border-radius: 5px 5px 0 0;
		overflow: hidden;
	}
	img {
		width: 100%;
		-webkit-transition: all .3s ease-out;
	  -moz-transition: all .3s ease-out;
	  -o-transition: all .3s ease-out;
    transition: all .3s ease-out;
		&:hover {
			transform: scale(1.075);
		}
	}
	center {
		padding: 15px 5%;
		margin: 0;
		font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
		font-size: 24px;
		font-style: normal;
		font-variant: normal;
		font-weight: 100;
		line-height: 30px;
		a {
			color: $red;
		}
	}
}

#recipe_top {
	margin-bottom: 50px;
}

#recipe_info {
	background: #F8F8F8;
	@include box-shadow;
	min-height: 360px;
	max-height: 360px;
	border-radius: 5px;
	padding: 1em;
	border-style: groove;
	border-color: #E8E8E8;
	overflow: auto;
}

 #ingredients, #directions {
	h1 {
		font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
		font-size: 36px;
		font-weight: normal;
		color: black;
		text-decoration: underline;
	}	
 	.description{
	background: #F8F8F8;
	@include box-shadow;
	min-height: 450px;
	max-height: 450px;
	border-radius: 5px;
	padding: 1em;
	overflow: auto;
	border-style: groove;
	border-color: #E8E8E8;
 }
}

.recipe_image {
	max-width: 100%;
	border-radius: 5px;
	@include box-shadow;
}

#recipe_info {
	h1 {
		margin-top: 0cm;
		font-family: 'Avant Garde', Avantgarde, 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
		font-size: 36px;
		font-weight: normal;
		color: $red;
		text-decoration: underline;
	}
	.description {
		font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
		color: black;
		font-size: 20px;
	}
}

#ingredients, #directions {
	margin-bottom: 50px;
	ul, ol {
		padding-left: 18px;
		li {
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
			color: black;
			padding: 1em 0;
			border-bottom: 1px solid #EAEAEA;
			font-size: 16px;
		}
	}
}

.form-inline {
	margin-top: 15px;
}
.form-input {
	width: 65% !important;
	float: left;
}
.form-button {
	float: left;
	width: 30% !important;
	margin-left: 5%;
}
.add-button {
	margin-top: 25px;
}

.simple_form .error {
  color: #DB6161;
}

.btn-space {
    margin-right: 10px;
}